@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

/* 右側滑動條 Scrollbar，只有 chrome 瀏覽器支援 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26f1e1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f01d1d;
}

/* 
  高度設定:
    高度設定若不是一個確切的值，例: 200px, 50vh
    只使用 100% 的話，會變成只有內容的高度 100%，
    因此想要設定為瀏覽器高度的 50% 時
    在最前面要先定義，
    htme, body {
      height: 100%
    }
    這樣內容中的 height 才會知道要以瀏覽器的整體高度作依據。
    其實純用 vh 就不用再增加這些多的設定，也可達到其效果
*/
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 10px #a8a8a8;
          box-shadow: inset 0 0 10px #a8a8a8;
  /* 在最上方導覽列加上陰影，以區分界線 */
}

header div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header div.title img {
  width: 5vw;
  /* 大小可以使用 vw 來改 */
  height: 5vw;
  margin-right: 1rem;
}

header div.title h1 {
  font-size: 2rem;
  font-weight: bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  list-style-type: none;
  padding: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
}

header nav ul li a.active {
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
}

main section.page1 {
  width: 100%;
  min-height: 86vh;
  /* 可以以螢幕比例設定最小高度 */
  background-image: url("../Pictures/background.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.page1 h2 {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 5rem;
  text-align: center;
}

main section.page1 a {
  background-color: #0ddcd0;
  border-radius: 1rem;
  /* border-radius 也可使用 rem */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: blue;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.4rem;
  /* 左右的空間可以大一點 */
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

main section.page1 a:hover {
  color: red;
}

main section.page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.page2 h2 {
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

main section.page2 div.picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section.page2 div.picture div.pic {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  /* 製作游標移到相片上時，放大的特效，使用 transform 和 overflow 的設定 */
}

main section.page2 div.picture div.pic span.container {
  border-radius: 50%;
  width: 100%;
  overflow: hidden;
}

main section.page2 div.picture div.pic span.container img {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main section.page2 div.picture div.pic span.container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.page2 div.picture div.pic h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.8rem;
}

main section.page2 div.picture div.pic p {
  font-size: 1.2rem;
  margin: 0.8rem;
}

main section.page2 div.picture div.pic div {
  background-color: #0a5ec0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

main section.page2 div.picture div.pic div a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
}

main section.page2 div.picture div.pic div a:hover {
  color: yellow;
}

footer {
  background-color: #00d1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.footerIcon ul {
  padding-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div.footerIcon ul li {
  padding: 2rem;
  list-style-type: none;
}

footer div.footerIcon ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}

footer div.footerIcon ul li a:hover {
  color: white;
}

footer div.footerSNS ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div.footerSNS ul li {
  padding: 1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer div.footerSNS ul li img {
  width: 80%;
}

footer div.footerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 1.5rem;
}

footer div.footerTitle img {
  width: 5%;
}

footer div.footerTitle h2 {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

footer div.footerTitle h2 a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
  }
  header div.title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header div.title img {
    width: 10vw;
    height: 10vw;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    width: 100%;
    border: 1px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    width: 100%;
    padding: 1rem;
    background-color: darkgray;
    text-align: center;
  }
  header nav ul li:hover {
    color: white;
  }
  main {
    text-align: center;
  }
  main section.page2 div.picture {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div.footerIcon ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div.footerSNS {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div.footerTitle img {
    width: 9%;
  }
}
/*# sourceMappingURL=style.css.map */